/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .product-img-height-3 {
    height: 389px;
}

.product-img-height-13 {
    height: 308px;
}

.subscrib-content h1 {
    font-size: 38px;
}

/* about page responsive */
.about-content {
    margin-top: 0 ;
}
.about-h {
    top: 95px ;
}


.margin-top-0 {
    margin-top: 0 ;
}

/* Service page responsive */
.video-btn{
    top: 51%;
}
.service-responsive {
    padding: 91.5px 17px;
}

.service-btn {
    bottom: -71px;
    font-size: 13px;
    padding: 14px;
}


.responsive-adjust-h {
    top: 10%;
    font-size: 40px;
}
    
}



/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

.product-img-height-3 {
    height: 508px !important;
}

.hero-content-wrapper h1 {
    font-size: 30px !important;
}

.service-left {
    padding: 0;
}

/* About page responsive */
.about-content {
    margin-top: 65px ;
}
.about-h {
    top: 1% ;
}


.responsive-adjust-h {
    font-size: 50px ;
    top: 13px ;
}

/* Service page responsive */
.service-btn-responsive{
    right: 39%;
    bottom: -62px;
}
.service-responsive-tablet{
    height: 300px !important;
}

}








/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

.logo {
    text-align: left !important;
}





 .product-img-height-3 {
    height: 276px !important;
}
.product-img-height-13 {
    height: 210px !important;
    margin-bottom: 25px;
}

.hero-content-wrapper h1 {
    font-size: 20px !important;
    margin-top: 20px;
}

.subscrib-content h1 {
    font-size: 34px;
    text-align: left;
}

.submit-btn {
	font-size: 15px;
    bottom: auto;
    left: 15px;
    right: auto;
    top: 81px;
}

.sub-wrapper {
    background: #F2F2F2;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 85px;
}

.footer-menu li a {
    display: none !important;
}

.header-social-links {
    margin-top: 20px;
}

.copyright {
    margin-right: -69px;
}


.map-point {
    top: 10%;
}


/* About page responsive */
.service-left {
    padding: 0 ;
}

.service-content h3 {
    font-size: 20px ;
}
.service-content p {
    font-size: 12px ;
}

.about-h {
    top: -16px ;
}
.about-img {
    margin-bottom: 21px ;
}


/* Portfolio-details */
.details-btn {
    left: 0 !important;
    top: auto !important;
}
.right-content {
    margin-top: 87px;
}

    
}







/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

 .product-img-height-3 {
    height: 374px !important;
}
.product-img-height-13 {
    margin-bottom: 25px;
}
.about-h {
    top: -8px;
    font-size: 35px
}
.margin-top-0 {
    margin-top: 30px;
}

/* About page responsive */
.about-area {
    margin-top: 50px ;
}
.mobile-responsive {
    margin-top: 25px ;
}

/* Service page responsive */
.service-btn {
    margin-left: 29% !important;
}
.service-responsive {
    height: 285px !important;
}



/* Portfolio-details */
.responsive-right-content{
    margin-top: 51px;
}


}




/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 

.header-menu ul {
    float: initial !important;
    margin-top: 20px;
    text-align: center !important;
}

.header-social-links ul {
    text-align: center !important;
    margin-top: -15px !important;
    margin-bottom: 10px !important;
    float: unset !important;
}


.single-img img {
    width: 100%;
    overflow: hidden;
}

.product-img-height-3 {
    height: auto;
}

.product-img-height-13 {
    margin-bottom: 29px;
}

.footer-menu li a {
    font-size: 14px !important;
}
.footer-menu ul {
    float: right !important;
}

.copyright p a {
    font-size: 14px !important;
}

.copyright{
	margin-top: 31px !important;
}



/* Service page responsive */
.service-responsive{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -16px;
    height: 332px;
    padding: 20px;
}

.service-btn {
    top: auto !important;
    font-size: 10px !important;
    padding: 13px;
    margin-left: 38px;
}

.service-content-responsive h3 {
    margin-top: 15px !important;
}

.responsive-adjust-h {
    font-size: 26px;
    top: 29px;
    opacity: .7;
}
.video-btn-service{
    right: 51%;
}


.responsive-menu {
    display: none !important;
}

.slicknav_menu{
    display: block;
}

.header-menu {
    position: relative;
}

#mobile-menu-wrap {
    right: 0;
    top: -41px;
    position: absolute;
    z-index: 2;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: none;
}

.slicknav_btn {
    background: none;
}

.slicknav_menu .slicknav_icon-bar {
    color: #038FDA;
}

.slicknav_menu .slicknav_btn span.slicknav_icon-bar {background: #2176FF;text-shadow: 0 0 0;}

.slicknav_menu a.slicknav_btn {
    background: none;
    margin: 2px;
}

.slicknav_nav {
    width: 188px;
    background: #0099E1;
    margin-right: 10px;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 10px;
    margin: 0;
}

.slicknav_nav a:hover {
    background: #EAE98D;
    border-radius: 0;
    margin: 0;
}

    
}


